<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .params_content_style {
            height: 230px;
            overflow-y: scroll;
        }

        .move_btn_style {
            width: 30px;
        }

        .move_btn_style span {
            position: relative;
            left: -3px;
        }

    </style>
</head>
<body style="width: 98%;">

<div class="form-horizontal" style="padding-top: 50px;">

    <!-- 接口的名称 -->
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">接口名称</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="interface_name">
        </div>
    </div>
    <!-- 接口所属项目 -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="project_id">所属项目</label>
        <div class="col-md-3" id="project_div">

        </div>
    </div>
    <!-- 公例还是私例 -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="interface_type">接口类型</label>
        <div class="col-md-3">
            <select class="form-control" id="interface_type">
                <option value="general" selected>普通接口</option>
                <option value="public">公用接口</option>
            </select>
        </div>
        <!--<span class="help-block">注：公用接口所有人都可以看到并测试。</span>-->
    </div>

    <!-- 接口的介绍 -->
    <div class="form-group">
        <label for="interface_description" class="col-md-2 control-label">接口描述</label>
        <div class="col-md-5">
            <textarea row="3" col="30" id="interface_description" class="form-control"></textarea>
        </div>
    </div>

    <!-- 测试的接口 -->
    <div class="form-group">
        <label for="" class="col-md-2 control-label">请求URL</label>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control pull-right" style="width: 100px;" id="request_type">
                        <option value="GET" selected>GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                    </select>
                </div>
                <input type="text" class="form-control" placeholder="例：http://www.baidu.com" id="request_url">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="test_btn"> Test </button>
            </span>
            </div>
        </div>
    </div>

    <!-- 接口测试的提交参数(分表格输入和直接输入参数) -->
    <div class="form-group">
        <br>
        <div class="col-md-6 col-md-offset-2">
            <input type="button" class="btn btn-success btn-xs" value="新增" id="add_request_params">
            <input type="button" class="btn btn-danger btn-xs" value="删除" id="del_request_params">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">请求参数</label>
        <div class="col-md-10 request_params_content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td width="20"><input type="checkbox" class="all_choice"></td>
                    <td width="220">Key</td>
                    <td width="300">Value</td>
                    <td>Description</td>
                    <td width="50">执行</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!-- headers参数 -->
    <div class="form-group">
        <br>
        <div class="col-md-6 col-md-offset-2">
            <input type="button" class="btn btn-success btn-xs" value="新增" id="add_header_params">
            <input type="button" class="btn btn-danger btn-xs" value="删除" id="del_header_params">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">头部参数</label>
        <div class="col-md-10 header_params_content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td width="20"><input type="checkbox" class="all_choice"></td>
                    <td width="260">Key</td>
                    <td width="260">Value</td>
                    <td>Description</td>
                    <td width="50">执行</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <br>

    </div>

    <!-- 显示测试结果 -->
    <div class="form-group">
        <label for="interface_test_result" class="col-md-2 control-label">测试结果</label>
        <div class="col-md-9">
            <textarea name="interface_test_result" id="interface_test_result" cols="30" rows="8" class="form-control"></textarea>
        </div>
    </div>

    <!-- 保存测试的接口数据 -->
    <div class="form-group">
        <div class="col-md-9 col-md-offset-2">
            <input type="button" class="btn btn-success" value="保存" id="save_interface_data_btn">
            <input type="button" class="btn btn-primary pull-right" value="重置" id="reset_btn">
        </div>
    </div>

</div>

<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="/static/js/global_func.js"></script>
<script src="/static/js/settings.js"></script>
<script>
    // 项目数据
    var all_project_data;
    // 项目选项标签
    var project_label;
    // 编辑的id
    var edit_interface_test_id = {{ interface_test_id }};

</script>
<script>

    function all_event() {
        // 添加请求参数的事件
        click_add_request_params();
        // 删除请求参数的事件
        click_del_request_params();
        // 全选参数的事件(通用的)
        click_all_choice_event();
        // 上移
        click_step_move_up_button_event();
        // 下移
        click_step_move_down_button_event();
        // 添加头部参数的事件
        click_add_header_params();
        // 删除头部参数的事件
        click_del_header_params();
        // 点击重置按钮的事件(刷新下页面)
        click_reset_btn_event();
        // 点击临时测试的事件
        click_test_btn_event();
        // 点击添加接口测试数据的事件(编辑也走该事件)
        click_save_interface_data_btn_event();
    }

    // 初始化操作，从服务端获取数据
    (function () {
        $.ajax({
            url: get_project_data_url,
            success: function (response) {
                all_project_data = response;
                project_label = create_project_label();
                $('#project_div').append(project_label);
            }
        });
        // 获取编辑的接口数据
        if (typeof edit_interface_test_id !== 'undefined'){
            var new_url = get_interface_test_data + edit_interface_test_id + '/';
            $.ajax({
                url: new_url,
                type: 'get',
                success: function (response) {
                    // 渲染数据
                    $('#interface_name').val(response['interface_name']);
                    $('#project_id').find(`option[value=${response['project_id']}]`).prop('selected', true);
                    $('#interface_type').find(`option[value=${response['interface_type']}]`).prop('selected', true);
                    $('#interface_description').val(response['interface_description']);
                    $('#request_type').find(`option[value=${'request_type'}]`).prop('selected', true);
                    $('#request_url').val(response['request_url']);

                    for (var i=0;i<response['request_params'].length;i++){
                        var request_params = response['request_params'][i];
                        // 先创建一行数据
                        $('.request_params_content tbody').append(create_row_request_data());
                        // 渲染
                        var tr_ele = $('.request_params_content tbody').children().eq(i);
                        tr_ele.find('input').eq(1).val(request_params['key']);
                        tr_ele.find('input').eq(2).val(request_params['value']);
                        tr_ele.find('input').eq(3).val(request_params['description']);
                        tr_ele.find('input').eq(4).prop('checked', request_params['execute']);
                    };

                    for (var i=0;i<response['header_params'].length;i++){
                        var header_params = response['header_params'][i];
                        // 先创建一行数据
                        $('.header_params_content tbody').append(create_row_request_data());
                        // 渲染
                        var tr_ele = $('.header_params_content tbody').children().eq(i);
                        tr_ele.find('input').eq(1).val(header_params['key']);
                        tr_ele.find('input').eq(2).val(header_params['value']);
                        tr_ele.find('input').eq(3).val(header_params['description']);
                        tr_ele.find('input').eq(4).prop('checked', header_params['execute']);
                    };

                },
                error: function (xhr) {
                    console.log(xhr.response);
                }
            });

        };

    })();

    function create_row_request_data() {
        var content = `<tr>
                    <td><input type="checkbox" name="choice"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="checkbox" checked></td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm col-md-5 step_move_up move_btn_style">
                            <span class="glyphicon glyphicon glyphicon-arrow-up text-success" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm col-md-5 col-md-offset-2 step_move_down move_btn_style">
                            <span class="glyphicon glyphicon glyphicon-arrow-down text-primary" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>`
        return content;
    }

    function click_add_request_params() {

        $('#add_request_params').click(function (e) {
            var label = create_row_request_data();
            // 插入一条行数据
            $('.request_params_content tbody').append(label);

            // 判断参数内容高度，如果超过某值，添加下拉条
            if ($('.request_params_content')[0].clientHeight >= 230) {
                $('.request_params_content').addClass('params_content_style');
            }

        });

    }

    function click_del_request_params() {

        $('#del_request_params').click(function (e) {
            // 删除标签
            $(this).parent().parent().next().find('input[name=choice]:checked').parent().parent().remove();

            // 动态删除样式
            if ($('.request_params_content').hasClass('params_content_style')) {
                var height = 30;
                $('.request_params_content').find('tbody tr').each(function (index,ele) {
                    height += ele.clientHeight;
                });
                // 判断参数内容低于230，删除之前添加的值
                if (height < 230) {
                    $('.request_params_content').removeClass('params_content_style');
                }
            }

        });
    }

    function click_all_choice_event() {

        $('.all_choice').change(function (e) {
            $(this).parent().parent().parent().next().find('input[name=choice]').prop('checked', $(this).prop('checked'));
        });

    }

    function click_step_move_up_button_event() {

        $('tbody').on('click', '.step_move_up', function (e) {
            var now_tr = $(this).parent().parent();
            // 判断上方是否有标签
            if (!now_tr.prev().length) {
                return
            }
            // 克隆一份标签
            var new_tr = now_tr.clone(true);
            // 在当前点击的标签上面添加
            now_tr.prev().before(new_tr);
            // 删除点击上移的
            now_tr.remove();
        });

    }

    function click_step_move_down_button_event() {

        $('tbody').on('click', '.step_move_down', function (e) {
            var now_tr = $(this).parent().parent();
            // 判断下方是否有标签
            if (!now_tr.next().length) {
                return
            }
            // 克隆一份标签
            var new_tr = now_tr.clone(true);
            // 在当前点击的标签下面添加
            now_tr.next().after(new_tr);
            // 删除点击下移的
            now_tr.remove();
        });

    };

    function click_add_header_params(){

        $('#add_header_params').click(function (e) {
            var label = create_row_request_data();
            // 插入一条行数据
            $('.header_params_content tbody').append(label);

            // 判断参数内容高度，如果超过某值，添加下拉条
            if ($('.header_params_content')[0].clientHeight >= 230) {
                $('.header_params_content').addClass('params_content_style');
            }

        });

    }

    function click_del_header_params(){

        $('#del_header_params').click(function (e) {
            // 删除标签
            $(this).parent().parent().next().find('input[name=choice]:checked').parent().parent().remove();

            // 动态删除样式
            if ($('.header_params_content').hasClass('params_content_style')) {
                var height = 30;
                $('.header_params_content').find('tbody tr').each(function (index,ele) {
                    height += ele.clientHeight;
                });
                // 判断参数内容低于230，删除之前添加的值
                if (height < 230) {
                    $('.header_params_content').removeClass('params_content_style');
                }
            }

        });

    }

    function click_reset_btn_event(){

        $('#reset_btn').click(function () {
            $(window.parent.document).find('iframe')[0].contentWindow.location.reload();
        });

    }

    function get_params(cls_val) {
        var ret = [];
        $(cls_val).find('tbody tr').each(function (index, ele) {
            var dic = {};
            var input_ele = $(ele).children().find('input');
            dic['key'] = input_ele.eq(1).val().trim();
            dic['value'] = input_ele.eq(2).val().trim();
            dic['description'] = input_ele.eq(3).val().trim();
            dic['execute'] = input_ele.eq(4).prop('checked') === true ? 1:0;

            if (dic['key'] !== '' && dic['value'] !== ''){
                ret.push(dic);
            }
        });

        return ret;
    };


    function click_test_btn_event(){

        $('#test_btn').click(function (e) {
            var data = {};
            data['request_type'] = $('#request_type').find('option:selected').val();
            data['request_url'] = $('#request_url').val().trim();
            data['request_params'] = get_params('.request_params_content');
            data['header_params'] = get_params('.header_params_content');

            data = JSON.stringify(data);

            var xhr = new XMLHttpRequest();
            xhr.open('post', temp_interface_test_url, true);

            // 传输完毕的监测
            xhr.onload = function (e){
                // console.log(JSON.parse(xhr.response));

                $('#interface_test_result').val(xhr.response);

                // 取消按钮的禁用
                $('#test_btn').text('Test');
                $('#test_btn').removeAttr('disabled');
            };

            // 开始发送后的事件
            xhr.onloadstart = function (e){
                // 修改临时测试的按钮样式
                $('#test_btn').text('is testing.');
                $('#test_btn').attr('disabled', 'disabled');
                $('#interface_test_result').val('getting data of interface testing.please wait a moment.')
            };

            xhr.send(data);

        });

    }

    function click_save_interface_data_btn_event(){

        $('#save_interface_data_btn').click(function (e) {
            var data = {};
            data['interface_name'] = $('#interface_name').val();
            data['project_id'] = $('#project_id').find('option:selected').val();
            data['interface_type'] = $('#interface_type').find('option:selected').val();
            data['interface_description'] = $('#interface_description').val();
            data['request_type'] = $('#request_type').find('option:selected').val();
            data['request_url'] = $('#request_url').val().trim();
            data['request_params'] = get_params('.request_params_content');
            data['header_params'] = get_params('.header_params_content');
            console.log(data);

            data = JSON.stringify(data);

            var request_type = 'post';
            // 走编辑的请求
            if (typeof edit_interface_test_id !== 'undefined'){
                request_type = 'put';
            }
            // 提交数据
            $.ajax({
                url: interface_test_url,
                type: request_type,
                data: data,
                contentType: false,
                success: function (response) {
                    if (request_type == 'post'){
                        window.parent.toastr.success('添加成功!');
                        // 添加成功刷新页面
                        // $(window.parent.document).find('iframe')[0].contentWindow.location.reload();
                    }else{
                        window.parent.toastr.success(`接口数据保存成功!`);
                        window.history.back();
                    }

                },
                error: function (xhr) {
                    window.parent.toastr.error(JSON.parse(xhr.responseText)['error']);
                    console.log('error: ', JSON.parse(xhr.responseText)['error']);
                }
            });

        });

    }

    all_event();

</script>
</body>
</html>