<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<div class="container-fluid" style="padding-top: 80px;">

    <div class="col-md-4 col-md-offset-3">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="old_email" class="col-sm-3 control-label">原邮箱:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="old_email" placeholder="" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="new_email" class="col-sm-3 control-label">新邮箱:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="new_email" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <span class="help-block">注：不填邮箱保持默认的.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox" style="padding: 0 0;">
                        <label>
                            <input type="checkbox" checked id="send_mail"> 是否发送邮件
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="button" class="btn btn-info form-control" value="确认" id="submit_email_btn">
                </div>
            </div>
        </form>

    </div>

</div>

<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="/static/js/settings.js"></script>
<script>

    // 初始化显示原邮箱
    (function () {
        $('#old_email').attr('placeholder', $.cookie('email'));
    })();

    // 提交事件
    $('#submit_email_btn').click(function (e) {
        var formdata = new FormData();
        var new_email = $('#new_email').val().trim();
        formdata.append('email', new_email);
        formdata.append('send_mail', $('#send_mail').prop('checked') === true ? 1:0);
        $.ajax({
            url: alter_email_url,
            type: 'post',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.flag === 0) {
                    // 修改成功的动画
                    window.parent.toastr.success('修改邮箱配置成功,');
                    // 刷新iframe页面
                    $(window.parent.document).find('iframe')[0].contentWindow.location.reload();

                    if (new_email !== ''){
                        // 修改首页显示的email
                        $(window.parent.document).find('#email_addr').text(new_email);
                    }

                } else {
                    window.parent.toastr.info(response.error_info);
                    // alert(response.error_info);
                }

            }
        });

    })

</script>
</body>
</html>