<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<div class="container-fluid" style="padding-top: 80px;">
    <div class="col-md-8 col-md-offset-2">

        <form class="form-horizontal">

            <div class="form-group">
                <label for="" class="col-md-4 control-label">当前登陆密码:</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="old_pwd">
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">新的登陆密码:</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="new_pwd1">
                </div>
                <div class="col-md-4">
                    <span class="help-block">登陆密码需要是6-20位.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">确认新的登陆密码:</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="new_pwd2">
                </div>
                <div class="col-md-4">
                    <span class="help-block">需要和上面填写的密码一致.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <input type="button" class="form-control btn btn-info" value="确定" id="alter_pwd_btn">
                </div>
            </div>

        </form>

    </div>
</div>


<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="/static/js/settings.js"></script>
<script>

    function all_event() {
        // 点击修改密码按钮事件
        click_alter_pwd_btn_event();
    }
    
    function click_alter_pwd_btn_event(){
        
        $('#alter_pwd_btn').click(function (e) {
            var formdata = new FormData();
            formdata.append('old_pwd', $('#old_pwd').val());
            var new_pwd1 = $('#new_pwd1').val();
            var new_pwd2 = $('#new_pwd2').val();

            if (new_pwd1 != new_pwd2){
                alert('两次密码不一致.');
                return
            }
            formdata.append('new_pwd1', new_pwd1);
            formdata.append('new_pwd2', new_pwd2);
            // 提交
            $.ajax({
                url: alter_password_url,
                type: 'post',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.flag == 0){
                        // 修改成功的弹窗动画

                        // 修改成功，刷新iframe页面
                        $(window.parent.document).find('iframe')[0].contentWindow.location.reload();
                    }else{
                        alert(response.error_info);
                    }

                }
            });

        });
        
    }
    
    all_event();
    
</script>
</body>
</html>