<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>


<div class="container-fluid" style="padding: 10px 30px;">

    <div class="row">
        <table class="table table-striped table-hover tab">
            <thead>
            <tr>
                <td width="50">序号</td>
                <td width="100">用例名称</td>
                <td width="100">用例类型</td>
                <td>用例步骤（||分割每一小步骤，@@分割每一小步骤的参数）</td>
                <td width="150">用例描述</td>
                <td width="100">操作</td>
            </tr>
            </thead>
            <tbody>
            {% for obj in usecase_objs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ obj.name }}</td>
                <td>
                    {% if obj.uc_type == 'public' %}
                        公共用例
                    {% else %}
                        普通用例
                    {% endif %}
                </td>
                <td>
                    {% for step_obj in obj.uc2step_detail %}
                        {% if step_obj.delete_status == 0 %}

                            {% if loop.last %}
                                {{ step_obj.params }}
                            {% else %}
                                {{ step_obj.params }}||
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ obj.desc }}</td>
                <td use_case_id="{{ obj.id }}">
                    <p><button class="btn btn-primary btn-xs execute_uc">执行</button></p>
                    <p><button class="btn btn-primary btn-xs execute_result">执行结果</button></p>
                    <!-- 用例分公共的私有的，公共的不可以编辑和删除操作 -->
                    {% if obj.user_id == now_user_id %}
                    <p><button class="btn btn-primary btn-xs edit_use_case">编辑</button></p>
                    <p><button class="btn btn-danger btn-xs del_use_case">删除</button></p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- 分页器 -->
        {{ page.make_label()|safe }}
    </div>

</div>



<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="/static/js/settings.js"></script>
<script>

    function all_event() {
        // 点击添加用例的事件
        click_add_use_case_event();
        // 点击删除某个用例的事件
        click_del_use_case_event();
        // 点击执行某个用例的事件();
        click_execute_use_case_event();
        // 点击执行结果得事件():
        click_execute_result_event();
        // 点击编辑用例的事件
        click_edit_use_case_event();
    }

    function click_add_use_case_event() {

        $('#add_use_case').click(function (e) {
            $(window.parent.document).find('#main_body_content iframe').attr('src', add_use_case_page_url+'?opt=add');
        });

    }

    function click_del_use_case_event(){

        $('.del_use_case').click(function (e) {
            // 获取用例id
            var use_case_id = $(this).parent().parent().attr('use_case_id');

            // 发送delete请求
            $.ajax({
                url: del_use_case_url,
                type: 'delete',
                data: {'use_case_id': use_case_id},
                success: function (response) {
                    if (response.flag == 0){
                        // 删除成功的动画效果

                        // iframe标签页面刷新
                        $(window.parent.document).find('iframe')[0].contentWindow.location.reload(true);
                    }else if (response.flag == 1){
                        alert(`id为${use_case_id}的用例,${response.error_info}.`);
                    }

                }
            });

        });

    }

    function click_execute_use_case_event(){

        $('tbody').on('click', '.execute_uc', function (e) {
            // 获取用例id
            var use_case_id = $(this).parent().parent().attr('use_case_id');
            var formdata = new FormData();
            formdata.append('use_case_id', use_case_id);

            // 发送ajax请求
            $.ajax({
                url: execute_use_case_url,
                type: 'post',
                data: formdata,
                processData:false,  //表示不处理数据
                contentType:false,  //不设置数据类型
                success: function (response) {
                    if (response.flag == 0){
                        // 之后换成弹窗，2秒后消失
                        alert("开始执行用例");

                    }else{
                        alert(response.error_info);
                    }
                }

            });

        });

    }

    function click_execute_result_event(){

        $('tbody').on('click', '.execute_result',function (e) {

            // 获取用例id
            var use_case_id = $(this).parent().parent().attr('use_case_id');
            // 拼接url
            var new_url = get_use_case_result_url + '?use_case_id=' + use_case_id;
            // 首页的iframe请求结果页面
            $(window.parent.document).find('iframe').attr('src', new_url)

        })

    }

    function click_edit_use_case_event(){

        $('tbody').on('click', '.edit_use_case', function (e) {

            // 获取用例id
            var use_case_id = $(this).parent().parent().attr('use_case_id');
            // 拼接url
            var new_url = `${edit_use_case_page_url}&use_case_id=${use_case_id}`;
            // 首页的iframe请求结果页面
            $(window.parent.document).find('iframe').attr('src', new_url)

        })

    }

    all_event();

</script>
</body>
</html>